.header{
   display: flex;
   flex-wrap: wrap;
}
.headeritem{
   width: 90%;
   height: 15px;
   margin: 0px auto;
}
.item1{
   background-color: navy;
   font-size: 10px;
   justify-content: center;
   align-items: center;
   color: white; 
   text-align: right;
}
.item2{
   background-color: white;
}
.wrapper{
   width: 90%;
   flex-wrap: wrap;
   margin: auto;
}
.category{
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style-type: none;
   font-size: 5px;
   color: black;
}
.main{
   width: 90%;
   margin: auto;
}
.headerpic{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 15px;
}
.intro{
   position: relative;
   width: 90%;
   height: 175px;
   background-color: navy;
   margin: auto;
}
.in{
   width: 70%;
   height: 60px;
   display: flex;
   flex-direction: column;
   align-items: center;
   letter-spacing: 0.2em;
}
.boxes1{
   background-color: navy;
   font-size: 15px;
   color: white;
   text-align: center;
   margin-top: 5px;
   margin-bottom: 5px;
}
.boxes2{
   background-color: cornsilk;
   font-size: 15px;
   color: red;
   text-align: center;
}
.boxes3{
   background-color: navy;
   font-size: 15px;
   color: white;
   text-align: center;
}
.in2{
   width: 70%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   letter-spacing: 0em;
}
.boxes4, .boxes5, .boxes6, .boxes7, .boxes8, .boxes9{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 40px;
   padding-right: 5px;
   padding-left: 5px;
   border-radius: 10px 10px 10px 10px;
   background-color: red;
   font-size: 5px;
   color: white;
   text-align: center;
   margin: 5px auto;
}
.banner{
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 10px;
   right: 100px;
   width: 20%;
   height: 90%;
   padding-right: 10px;
   background-color: gray;
   border-radius: 10px 10px 10px 10px;
   font-size: 10px;
   color: white;
   text-align: center;
}
.middle{
   position: relative;
   width: 100%;
   height: 500px;
   background-color: cornsilk
}
.title{
   height: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 30px;
   color: red;
   text-align: center;
}
.text{
   height: 60%;
   margin-top: 40px;
}
.line{
   height: 550px;
}
ul{
   position: absolute;
   width: 80%;
   display: flex;
   margin: auto;
}
li{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 30%;
   list-style: none;
   margin: auto;
}
.ttx1{
   display: flex;
   justify-content: end;
   color: red;
}
.txt1{
   font-size: 15px;
   text-align: start;
   margin: 0em;
}
.photo{
   margin: 0%;
}
p{
   font-size: 10px;
   margin: 0em;
}
.hooter{
   width: 100%;
   height: 30px;
   background-color: blue;
   font-size: 5px;
   color: white;
   text-align: start;
   margin: auto;
}
.text1{
   height: 60%;
   margin-top: 40px;
}
.line1{
   height: 100px;
   margin-bottom: 40px;
}
.form{
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: auto;
}
.formwrap{
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-top: 40px;
}
.nameform{
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-bottom: 30px;
}
.name, .mail, .wright{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 30px;
   width: 50%;
}
label{
   width: 30%;
   display: flex;
   flex-direction: column;
}
label, input, textarea{
   display: flex;
   flex-direction: column;
   align-items: center;
}
input, textarea{
   width: 70%;
   margin-left: 30px;
}
textarea{
   height: 100px;
}
.submit{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
}
.button {
   display: flex;
   justify-content: center;
   width: 300px;
   height: 15px;
   border-radius: 30px;
   font-size: 15px;
   text-align: center;
   padding: 15px 15px;
   background-color: red;
   color: white;
 }